@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 249, 248, 253;
  --foreground-rgb: 0, 0, 0;
}

html {
  @apply text-main-dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 7, 13, 31;
    --foreground-rgb: 255, 255, 255;
  }

  html {
    @apply text-main-light;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}